body{
    height: 100vh;
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgb(68, 0, 97) 100%);
    background-repeat:no-repeat;
    color: white;
    font-family: arial;
}
.navbar{
    background-image:
    linear-gradient(to bottom, rgb(0, 0, 0,0) 0%, rgba(0,0,0,1) 80%),
    url("/styles/imgs/stars.jpg");
  font-family: 'Spartan', sans-serif;
  background-size: repeat;
}

.fueraSesion{
font-weight: bold;
font-size: 7vw;
}

input[name="mensaje"]{
    background-color: rgb(54, 16, 97);
    border: 0px;
    box-shadow: rgb(10, 0, 97) 0px 0px 3px 1px;
    color: white;
}
input[name="mensaje"]:focus{
    background-color: rgb(54, 16, 97);
    border: 0px;
    box-shadow: rgb(10, 0, 97) 0px 0px 3px 1px;
    color: white;
}
input[name="enviarMensaje"]{
    background-color: rgb(81, 34, 124);
    box-shadow: rgb(10, 0, 97) 0px 0px 3px 1px;
    color: white;
}
input[name="enviarMensaje"]:hover{
    background-color: rgb(81, 34, 124);
    box-shadow: rgb(10, 0, 97) 0px 0px 3px 1px;
    color: white;
}
#btnAcceder{
    background-color: white;
    color: black;
}
#chat{
    height: 70vh;
    overflow: scroll;
    color: white;
    padding: 20px 30px 0px 30px;
}
.mensajeEnviado{
    background-color: rgb(12, 106, 189);
    max-width: 100%;
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
    word-break:normal;
    white-space: normal;
}
.mensajeRecibido{
    background-color: rgb(102, 31, 2);
}